:root {
    box-sizing: border-box;
    font-size: 16px;
}

@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0px;
}

main{
    display: flex;
    align-items: stretch;
    height: 100vh;
}



.centralizer{
    display: flex;
    justify-content: center;
}



.left-side{
    background: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    flex-basis: 0px;
    flex-grow:0.6;
}   

.logo{
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.logo > h1{
    color: white;
    font-size: 6rem;
    font-family: Norse-Bold;
}

.logo > img{
    height: 6rem;
}

.credit{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: .75rem;
    margin: auto;
}

.right-side{
    background: rgb(252, 239, 213);
    flex-basis: 0px;
    flex-grow: 1;
}

.message-section{
    height: 9rem;
}

.message-section > p{
    font-size: 1.5rem;
    margin: 1rem;
    
}

.form-section{
    background-color: white;
    padding: 1rem;
    box-shadow: 0 5px 3px -3px #00000030;
}

.form-section > h1{
    margin: 1rem;
    
}

form{
    display: flex;
}

.label-input-pair{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

input:focus{
    outline-color: blue;
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.44);;

}

input:invalid